<span id="attachments_fields">
  <span>
    <%= file_field_tag 'attachments[1][file]', :id => nil, :class => 'file',
          :onchange => "checkFileFormat(this,'#{escape_javascript(l(:error_attachment_file_format))}');checkFileSize(this, #{Setting.attachment_max_size.to_i.kilobytes}, '#{escape_javascript(l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)))}');"  -%>
    <%= text_field_tag 'attachments[1][title]', '', :id => nil, :class => 'title', :maxlength => 255, :placeholder => l(:label_optional_title) %>
    <%= text_field_tag 'attachments[1][description]', '', :id => nil, :class => 'description', :maxlength => 255, :placeholder => l(:label_optional_description) %>
    <%= select("post", "report_type", Enumeration.where(:type => 'TypeReport').map{ |c| [c.name, c.id] }, {:include_blank => false})  %>
    <%= link_to_function(image_tag('delete.png'), 'removeFileField(this)', :title => (l(:button_delete))) %>
  </span>
</span>
<span class="add_attachment"><%= link_to l(:label_add_another_file), '#', :onclick => 'addFileField(); return false;', :class => 'add_attachment' %>
(<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)</span>
